services:
  mongo:
    image: mongo:7
    container_name: test-task-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test-task-api
    depends_on:
      - mongo
    env_file:
      - ./.env
    ports:
      - "3000:3000"

volumes:
  mongo_data:

