PORT=3000
MONGO_URI=mongodb://mongo:27017/test_task

# JWT
JWT_SECRET=dev-secret-change-me
JWT_ISSUER=test-task-server
JWT_AUDIENCE=test-task-clients

# Simple login (for test task)
AUTH_USERNAME=admin
AUTH_PASSWORD=admin

# Seed
SEED_ON_STARTUP=true
SEED_USERS_COUNT=2000000
SEED_BATCH_SIZE=50000

# Outbox
OUTBOX_POLL_INTERVAL_MS=1000

